random-events>=4.1.2
networkx
plotly
scipy
typing_extensions
numpy
sortedcontainers
tqdm
tabulate
N2G
python-igraph
rustworkx>=0.16.0
scikit-learn>=1.6.1
jax<=0.9.2 # fixed until `probabilistic model` can deal with jax 0.10.0+
jaxtyping>=0.3.2
equinox>=0.12.1
mlflow>=2.22.0
optax>=0.2.4
pyjpt
mlflow-skinny>=2.22.0
dnutils
arff
deprecated
PySide6
qt-material
superqt