rustworkx
numpy
trimesh>=4.11.1
typing_extensions
urdf-parser-py
matplotlib
casadi~=3.7.0
hypothesis
pytest
scipy
sqlacodegen
ripple_down_rules>=0.6.51
pytest-order
sqlalchemy
embreex # Hardware acceleration for trimesh raycasting
rtree # For spatial indexing in trimesh
random_events
plotly
rtree
daqp
pathlib
probabilistic_model
python-fcl
manifold3d
krrood>=2.0.2
rustworkx_utils
polytope
ortools
fbxloader
coacd
pymysql
pyglet == 1.5.31
pycollada
psycopg