name: update_docker
on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'info'
        type: choice
        options:
          - info
          - warning
          - debug
  push:
    branches:
      - main
    paths:
      - '.github/docker/Dockerfile'
      - '.github/docker/entrypoint.sh'
  pull_request:
    branches:
      - main
    paths:
      - '.github/docker/Dockerfile'
      - '.github/docker/entrypoint.sh'

jobs:
  build_and_push_docker_image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: create Image Name
        run: |
          echo "IMAGE_NAME=ghcr.io/${OWNER,,}/$(echo ${{ github.repository }} | cut -d'/' -f2)" >> $GITHUB_ENV
        env:
          OWNER: '${{ github.repository_owner }}'

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: ./.github/docker
          push: true
          tags: '${{IMAGE_NAME}}:jazzy'